django == 5.0.2
xhtml2pdf==0.2.11 # replace with weasyprint
crispy-bootstrap5
gunicorn==20.1.0
uvicorn[standard]==0.30.1
django-stubs-ext
mozilla-django-oidc==4.0.0
django-filter==23.5
openpyxl==3.1.2
