{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <p class="h4 mb-3">Arbeitsdienst Historie</p>

    <div class="d-flex">
        <p class="me-2 mb-2">Filtern nach:</p>
        <form action="" method="get" class="d-flex">
            {{ filter.form }}
            <button class="btn btn-primary btn-sm me-2" type="submit">Filtern</button>
            <button class="btn btn-sm btn-outline-secondary me-2 col-auto" name="xlsx" value="true" type="submit">Download XLSX</button>
        </form>
        <a class="btn btn-sm btn-outline-secondary me-2 col-auto" href="?">Reset</a>
    </div>

    <table class="table align-middle" style="font-size: 16px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Arbeitende:r</th>
                <th scope="col">Anlass</th>
                <th scope="col">Datum</th>
                <th scope="col">Kommentar</th>
                <th scope="col">Dauer</th>
                <th scope="col">Genehmigt von</th>
                <th scope="col">Genehmigt am</th>
                <th scope="col">Optionen</th>
            </tr>
        </thead>
        <tbody>
            {% for t in clubworks %}
            <tr id="row{{ forloop.counter0 }}">
                <th scope="row">{{t.id}}</th>
                <td>{{t.user}}</td>
                <td>{{t.title}}</td>
                <td>{{t.date_time}}</td>
                <td>{{t.description}}</td>
                <td>{{t.duration}}min</td>
                <td>{{t.approved_by}}</td>
                <td>{{t.approve_date}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'mod_own_clubwork' t.id %}" class="btn-sm btn-outline-primary me-1 btn">Bearbeiten</a>
                        <a href="{% url 'delete_own_clubwork' t.id %}" class="btn-sm btn-outline-danger me-1 btn">Löschen</a>
                    </div>
                </td>
            </tr>
            {% empty %}
                <p>Sorry, keine einträge in der Tabelle</p>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}