{% extends "base.html" %}

{% block content %}

<div class="container">
    <p class="h4 mb-3">Mein Arbeitsdienst</p>

    <p>Als {{user.membership_type}} habe ich von meinen {{user.club_work_hours}} Stunden für {{this_year}} schon {{user.hours_done}} erledigt.</p>

    {% if user.is_ressort_user or user.is_superuser or user.is_staff %}
    <a class="btn btn-outline-secondary mb-3" href="{% url 'add_clubwork' %}">Neuen Arbeitsdienst ausschreiben</a>
    {% endif %}
    <a class="btn btn-outline-secondary mb-3" href="{% url 'add_own_clubwork' %}">Eigenen Arbeitsdienst einreichen</a>

    <p class="h6 mb-3">Zukünftige Arbeitdienste für die ich mich Angemeldet habe</p>
    {% for clubworkpart in upcoming_clubwork_user %}
        {% include 'user_clubwork.html' with clubworkpart=clubworkpart user=user %}
    {% endfor %}

    <p class="h4 mb-3">Zukünftige Arbeitsdienste für die ich mich anmelden kann</p>
    {% for clubwork in clubworks %}
        {% include 'clubwork_card.html' with clubwork=clubwork user=user %}
    {% endfor %}      

</div>
{% endblock content %}