<table class="table align-middle mb-3">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Ressort</th>
            <th>Beschreibung</th>
            <th>Datum und Uhrzeit</th>
            <th>Dauer</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for clubwork in clubworks %}
            <tr id="clubwork-user-{{ clubwork.id }}">
                <td>{{ clubwork.title }}</td>
                <td>{{ clubwork.ressort }}</td>
                <td>{{ clubwork.description }}</td>
                <td>
                    <p data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="{% if clubwork.async_date %} Ihr müsst euch selbständig um einem gemeinsamen Termin bemühren und sollt die Arbeit innerhalb der Frist (bis zum {{ clubwork.date_time }}) erledigen. {% else %} Seid bitte rechtzeitig ({{ clubwork.date_time }}) zum Arbeitsdienst anwesend. {% endif %}">
                        {% if clubwork.async_date %} First {% endif %} {{ clubwork.date_time }}
                    </p>
                </td>
                <td>{{ clubwork.duration }} Min</td>
                <td>
                    {% if not clubwork.clubwork %}
                        <a href="{% url 'mod_own_clubwork' clubwork.id %}" class="btn btn-sm btn-primary mx-1">Bearbeiten</a>
                    {% endif %}
                    {% if not t.is_approved %}
                    <a href="{% url 'update_hours' clubwork.id %}" class="btn-sm btn-outline-primary me-1 btn">Arbeitszeit Eintragen</a>
                    {% endif %}
                    <a href="{% url 'delete_own_clubwork' clubwork.id %}" class="btn-sm btn-outline-danger me-1 btn">Abmelden</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
