<div class="container">
    <form action="{{action_target}}" method="post">
        {% csrf_token %}
        <div class="row">
            <select id="{{tomselect_id}}" multiple data-placeholder="Mitglieder auswählen" name="users" class="col-12 col-sm-6 col-md-8">
                {% for user in users %}
                <option value="{{user.id}}">{{user}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-success col-6 col-md-4" id="{{tomselect_id}}-submit">{{action_desc}}</button>
        </div>
    </form>
</div>

<script>
new TomSelect('#{{tomselect_id}}',{
    plugins: ['remove_button'],
    persist: false,
    create: false,
    option_create: false,
    addPrecedence: false,
    selectOnTab: true,
});
</script>