{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>User Importer</h1>
    <p>Der Importer wird keine Nutzer löschen. Alle Nutzer werden bei änderungen in ihrem Account per Mail benachrichtigt. Die Mail wird an die hinterlegte Mailadresse gesendet. Emailadressen werden nicht basierend auf SEWOBE Daten aktualisiert, da der Nutzer sie selbst ändern kann. Zu löschende Nutzer werden per Mail benachrichtigt, dass ihr Account deaktiviert, aber nicht gelöscht wurde.</p>
    <p>Allen importierten Nutzern wird ein Password per Email zugeschickt.</p>
    <p>Über den Importer werden nur Mitglieder verwaltet. Bei Benutzern, die keine Mitglieder sind, hat er keinen Effekt.</p>
    <p>Genauso verwaltet der Importer keine Berechtigungen, wie Administrator, Staff Member, Resortberechtigungen oder Berechtigungen zum ausleihen/buchen von Booten/Kran etc.</p>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Wähle eine SEWOBE XML Datei aus: </label>
        <input type="file" name="file" accept="application/xml" required>
        <input type="submit" value="Upload">
    </form>
</div>

{% endblock content %}