<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href={% static "bootstrap/css/bootstrap.css" %} />
<link rel="stylesheet" type="text/css" href={% static "customcss/custom.css" %} />
<link rel="stylesheet" type="text/css" href={% static "ext/gh.css" %} />
<link rel="stylesheet" type="text/css" href={% static "ext/tom-select.min.css" %} />
<script type="text/javascript" src={% static "bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script type="text/javascript" src={% static "ext/tom-select.min.js" %}></script>
<script type="text/javascript" src={% static "clubapp.js" %}></script>
<script type="text/javascript" src={% static "ext/fullcalendar.min.js" %}></script>
<script type="text/javascript" src={% static "ext/jquery.min.js" %}></script>
<link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">

<html>
    <head>
        <title>{{club_name_short}} {{app_name}}</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-fixed-top navbar-expand-lg {% if staging %} bg-special {% else %} bg-dark {% endif %} navbar-dark" aria-label="navbar">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="/static/logo.png" alt="Flowers" style="width:auto;height:50px;">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if user.is_authenticated %}
                        <div class="navbar-collapse">
                            <ul class="navbar-nav me-auto me-auto mb-4 mb-lg-0">
                                    <!-- <div class="navbar-nav nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-labelledby="navbarDarkDropdownMenuLink" aria-expanded="false">Erstattungen</a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{% url 'transaction_overview' %}">Meine Auszahlungen</a></li>
            
                                            {% if user.is_invoice_user %}
                                                <li><a class="dropdown-item" href="{% url 'tracking_overview' %}">Meine Abrechnungen</a></li>
                                            {% endif %}
            
                                            {% if user.is_ressort_user %}
                                                <li><a class="dropdown-item" href="{% url 'approve_payment' %}">Genehmigen</a></li>
                                            {% endif %}
            
                                            {% if user.is_accountant_user %}
                                                <li><a class="dropdown-item" href="{% url 'manage_payment' %}">Auszahlungsübersicht</a></li>
                                            {% endif %}
                                        </ul>
                                    </div> -->

                                <div class="navbar-nav nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Arbeitsdienst
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'clubwork_index' %}">Meine Übersicht</a></li>
                                        <li><a class="dropdown-item" href="{% url 'clubwork_user_history' %}">Meine vergangenen Arbeitsdienste</a></li>
                                        {% if user.is_ressort_user or user.is_superuser or user.is_staff %}
                                        <li><hr class="dropdown-divider"></li>
                                        <h6 class="dropdown-header">Ressortleitung</h6>
                                        <li><a class="dropdown-item" href="{% url 'approve_clubwork_overview' %}">Arbeitsdienste genehmigen</a></li>
                                        <li><a class="dropdown-item" href="{% url 'clubwork_history' %}">Alle Arbeitsdienstteilnahmen</a></li>
                                        <li><a class="dropdown-item" href="{% url 'clubwork_all' %}">Alle ausgeschriebenen Arbeitsdienst</a></li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="navbar-nav nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Reservierungen
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'calendar_month' %}">Reservierungsübersicht</a></li>
                                        <li><a class="dropdown-item" href="{% url 'reservation_list' %}">Meine Reservierungen</a></li>
                                        {% if user.is_ressort_user or user.is_superuser or user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'staff_reservation_list' %}">Alle Reservierungen</a></li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="navbar-nav nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-labelledby="navbarDarkDropdownMenuLink" aria-expanded="false">Hilfe</a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="mailto:{% for user in staff %}{{ user.email }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                                Email an alle Administratoren
                                            </a>
                                        </li>
                                        {% for user in staff %}
                                        <li><a class="dropdown-item" href="mailto:{{ user.email }}">Email an {{ user }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </ul>

                            <div class="navbar-nav px-2"></ul>
                                <div class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-labelledby="navbarDarkDropdownMenuLink" aria-expanded="false">{{ user }}</a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <!-- <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                                        <li><hr class="dropdown-divider"></li> -->
                                        {% if user.is_superuser %}
                                            <h6 class="dropdown-header">Admin</h6>
                                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
                                            <li><a class="dropdown-item" href="{% url 'testmail' %}">Sende Test Email an diesen User</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                        {% endif %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'profile_overview' %}">Meine Daten</a>
                                        </li>
                                        {% if enable_oidc_login %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'oidc_account' %}">SSO Account Settings</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'oidc_logout' %}">SSO Logout</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <form method="post" action="{% url 'logout' %}">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        
                        {% else %}

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{club_imprint}}">Impressum</a>
                            </li>
                        </ul>

                        <div class="text-end">
                            {% if enable_oidc_login %}
                                <a href="{% url 'login' %}" class="btn btn-outline-light me-2" role="button" aria-pressed="true">Sign in</a>
                            {% endif %}
                            {% if enable_django_login %}
                                <a href="{% url 'oidc_authentication_init' %}" class="btn btn-outline-light me-2" role="button" aria-pressed="true">Sign in with SSO</a>
                            {% endif %}
                        </div>

                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <a class="github-fork-ribbon" href="https://github.com/sv03berlin/sv03" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

        <div class="p-3 m-3">
            {% for message in messages %}      
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            {% block content %}
            {% endblock content %}
        </div>        
    </body>
</html>

<script type="text/javascript">
// enable tooltips
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>