{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>ClubApp Funktionen</h2>
                <ul>
                    <li>Vorname: {{ user.first_name }}</li>
                    <li>Nachname: {{ user.last_name }}</li>
                    <li>Username: {{ user.username }}</li>
                    <li>email: {{ user.email }}</li>
                    <li>Geburtstag: {{ user.birthday }}</li>
                    <li>OpenID Sub: {{ user.openid_sub }}</li>
                    <li>Mitgliedschaft: {{ user.membership }}</li>
                    <li>Clubbootnutzung: {{ user.is_boat_owner }}</li>
                    <li>Bootseigner: {{ user.is_clubboat_user }}</li>
                    <li>Verbleibende Arbeitsstunden: {{ user.hours_done }} von {{ user.hours_to_do }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}