{% extends "base.html" %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "customcss/auth.css" %} />

    {% for key, error in form.errors.items %}
        <div class="alert alert-dark" role="alert">{{ error }}</div>
    {% endfor %}

    <div class="center-page">
    {% if not user.is_authenticated %}
        <main class="form-signin" id="signinform">
            <h1 class="h3 mb-3 fw-normal">Please sign in to {{club_name_short}}'s {{app_name}} </h1>
            {% if enable_django_login %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="form-floating">
                        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" class="form-control" required id="id_username" placeholder="Username">
                        <label for="id_username">
                            Username
                        </label>
                    </div>

                    <div class="form-floating">
                        <input type="password" name="password" autocomplete="current-password" class="form-control" required id="id_password" placeholder="Password">
                        <label for="id_password">
                            Password
                        </label> 
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                        <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <input class="button w-100 btn btn-primary" type="submit" value="Sign in" />
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <!-- <a class="button mt-3 w-100 btn btn-outline-secondary" href="#" role="button">Sing up</a> -->
                <a class="button mt-3 w-100 btn btn-outline-secondary" href="{% url 'password_reset' %}">Forgot Password</a>
            {% endif %}

            {% if enable_django_login and enable_oidc_login %}
                <hr>
            {% endif %}

            {% if enable_oidc_login %}
                <a href="{% url 'oidc_authentication_init' %}" class="button w-100 btn-lg btn btn-primary" role="button">Sign in with SSO</a>
            {% endif %}
        </main>
        {% endif %}
    </div>

{% endblock %}